
body {  
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cb9bd7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #666;
}

button {
    margin-left: 10px;
    cursor: pointer;
}
